@utility ui-solid-gray {
    --ui-solid-bg: var(--color-gray-100);
    --ui-solid-text: var(--color-gray-700);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-gray-900);
        --ui-solid-text: var(--color-gray-300);
    }
}

@utility ui-solid-primary {
    --ui-solid-bg: var(--color-primary-600);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-primary-500);
    }
}

@utility ui-solid-secondary {
    --ui-solid-bg: var(--color-secondary-600);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-secondary-500);
    }
}

@utility ui-solid-accent {
    --ui-solid-bg: var(--color-accent-600);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-accent-500);
    }
}

@utility ui-solid-info {
    --ui-solid-bg: var(--color-info-600);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-info-500);
    }
}

@utility ui-solid-success {
    --ui-solid-bg: var(--color-success-600);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-success-500);
    }
}

@utility ui-solid-warning {
    --ui-solid-bg: var(--color-warning-600);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-warning-500);
    }
}

@utility ui-solid-danger {
    --ui-solid-bg: var(--color-danger-600);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-danger-500);
    }
}

@utility ui-solid-neutral {
    --ui-solid-bg: var(--color-gray-900);
    --ui-solid-text: var(--color-white);

    &:is(.dark *) {
        --ui-solid-bg: var(--color-white);
        --ui-solid-text: var(--color-gray-900);
    }
}



@utility ui-outline-gray {
    --ui-outline-border: var(--color-gray-200);
    --ui-outline-text: var(--color-gray-700);

    &:is(.dark *) {
        --ui-outline-border: var(--color-gray-700);
        --ui-outline-text: var(--color-gray-300);
    }
}

@utility ui-outline-neutral {
    --ui-outline-border: var(--color-gray-900);
    --ui-outline-text: var(--color-gray-800);

    &:is(.dark *) {
        --ui-outline-border: var(--color-gray-700);
        --ui-outline-text: var(--color-gray-300);
    }
}

@utility ui-outline-primary {
    --ui-outline-border: var(--color-primary-600);
    --ui-outline-text: var(--color-primary-600);

    &:is(.dark *) {
        --ui-outline-border: var(--color-primary-500);
        --ui-outline-text: var(--color-primary-500);
    }
}

@utility ui-outline-secondary {
    --ui-outline-border: var(--color-secondary-600);
    --ui-outline-text: var(--color-secondary-600);
}

@utility ui-outline-accent {
    --ui-outline-border: var(--color-accent-600);
    --ui-outline-text: var(--color-accent-600);

    &:is(.dark *) {
        --ui-outline-border: var(--color-accent-500);
        --ui-outline-text: var(--color-accent-500);
    }
}

@utility ui-outline-info {
    --ui-outline-border: var(--color-info-600);
    --ui-outline-text: var(--color-info-600);

    &:is(.dark *) {
        --ui-outline-border: var(--color-info-500);
        --ui-outline-text: var(--color-info-500);
    }
}

@utility ui-outline-success {
    --ui-outline-border: var(--color-success-600);
    --ui-outline-text: var(--color-success-600);

    &:is(.dark *) {
        --ui-outline-border: var(--color-secondary-500);
        --ui-outline-text: var(--color-secondary-500);
    }
}

@utility ui-outline-warning {
    --ui-outline-border: var(--color-warning-600);
    --ui-outline-text: var(--color-warning-600);

    &:is(.dark *) {
        --ui-outline-border: var(--color-warning-500);
        --ui-outline-text: var(--color-warning-500);
    }
}

@utility ui-outline-danger {
    --ui-outline-border: var(--color-danger-600);
    --ui-outline-text: var(--color-danger-600);

    &:is(.dark *) {
        --ui-outline-border: var(--color-danger-500);
        --ui-outline-text: var(--color-danger-500);
    }
}

/* -- ui-soft-* (bg and text) */
@utility ui-soft-gray {
    --ui-soft-bg: --alpha(var(--color-gray-200) / 40%);
    --ui-soft-text: var(--color-gray-700);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-gray-700) / 30%);
        --ui-soft-text: var(--color-gray-300);
    }
}

@utility ui-soft-neutral {
    --ui-soft-bg: var(--color-gray-100);
    --ui-soft-text: var(--color-gray-900);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-gray-400) / 30%);
        --ui-soft-text: var(--color-white);
    }
}

@utility ui-soft-primary {
    --ui-soft-bg: --alpha(var(--color-primary-100) / 40%);
    --ui-soft-text: var(--color-primary-600);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-primary-900) / 30%);
        --ui-soft-text: var(--color-primary-300);
    }
}

@utility ui-soft-secondary {
    --ui-soft-bg: --alpha(var(--color-secondary-100) / 40%);
    --ui-soft-text: var(--color-secondary-600);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-secondary-900) / 30%);
        --ui-soft-text: var(--color-secondary-300);
    }
}

@utility ui-soft-accent {
    --ui-soft-bg: --alpha(var(--color-accent-100) / 40%);
    --ui-soft-text: var(--color-accent-600);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-accent-900) / 30%);
        --ui-soft-text: var(--color-accent-300);
    }
}

@utility ui-soft-info {
    --ui-soft-bg: --alpha(var(--color-info-100) / 40%);
    --ui-soft-text: var(--color-info-600);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-info-900) / 30%);
        --ui-soft-text: var(--color-info-300);
    }
}

@utility ui-soft-success {
    --ui-soft-bg: --alpha(var(--color-success-100) / 40%);
    --ui-soft-text: var(--color-success-600);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-success-900) / 30%);
        --ui-soft-text: var(--color-success-300);
    }
}

@utility ui-soft-warning {
    --ui-soft-bg: --alpha(var(--color-warning-100) / 40%);
    --ui-soft-text: var(--color-warning-600);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-warning-900) / 30%);
        --ui-soft-text: var(--color-warning-300);
    }
}

@utility ui-soft-danger {
    --ui-soft-bg: --alpha(var(--color-danger-100) / 40%);
    --ui-soft-text: var(--color-danger-600);

    &:is(.dark *) {
        --ui-soft-bg: --alpha(var(--color-danger-900) / 30%);
        --ui-soft-text: var(--color-danger-300);
    }
}

/* -- ui-subtle-* (bg, text, and border) */
@utility ui-subtle-gray {
    --ui-subtle-bg: --alpha(var(--color-gray-200) / 40%);
    --ui-subtle-text: var(--color-gray-700);
    --ui-subtle-border: var(--color-gray-200);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-gray-800) / 30%);
        --ui-subtle-text: var(--color-gray-300);
        --ui-subtle-border: --alpha(var(--color-gray-800) / 80%);
    }
}

@utility ui-subtle-neutral {
    --ui-subtle-bg: --alpha(var(--color-gray-200) / 40%);
    --ui-subtle-text: var(--color-gray-700);
    --ui-subtle-border: var(--color-gray-800);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-gray-400) / 30%);
        --ui-subtle-text: var(--color-white);
        --ui-subtle-border: var(--color-white);
    }
}


@utility ui-subtle-primary {
    --ui-subtle-bg: --alpha(var(--color-primary-100) / 40%);
    --ui-subtle-text: var(--color-primary-600);
    --ui-subtle-border: var(--color-primary-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-primary-900) / 30%);
        --ui-subtle-text: var(--color-primary-300);
        --ui-subtle-border: --alpha(var(--color-primary-900) / 60%);
    }
}

@utility ui-subtle-secondary {
    --ui-subtle-bg: --alpha(var(--color-secondary-100) / 40%);
    --ui-subtle-text: var(--color-secondary-600);
    --ui-subtle-border: var(--color-secondary-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-secondary-900) / 30%);
        --ui-subtle-text: var(--color-secondary-300);
        --ui-subtle-border: --alpha(var(--color-secondary-900) / 60%);
    }
}

@utility ui-subtle-accent {
    --ui-subtle-bg: --alpha(var(--color-accent-100) / 40%);
    --ui-subtle-text: var(--color-accent-600);
    --ui-subtle-border: var(--color-accent-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-accent-900) / 30%);
        --ui-subtle-text: var(--color-accent-300);
        --ui-subtle-border: --alpha(var(--color-accent-900) / 60%);
    }
}

@utility ui-subtle-info {
    --ui-subtle-bg: --alpha(var(--color-info-100) / 40%);
    --ui-subtle-text: var(--color-info-600);
    --ui-subtle-border: var(--color-info-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-info-900) / 30%);
        --ui-subtle-text: var(--color-info-300);
        --ui-subtle-border: --alpha(var(--color-info-900) / 60%);
    }
}

@utility ui-subtle-success {
    --ui-subtle-bg: --alpha(var(--color-success-100) / 40%);
    --ui-subtle-text: var(--color-success-600);
    --ui-subtle-border: var(--color-success-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-success-900) / 30%);
        --ui-subtle-text: var(--color-success-300);
        --ui-subtle-border: --alpha(var(--color-success-900) / 60%);
    }
}

@utility ui-subtle-warning {
    --ui-subtle-bg: --alpha(var(--color-warning-100) / 40%);
    --ui-subtle-text: var(--color-warning-600);
    --ui-subtle-border: var(--color-warning-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-warning-900) / 30%);
        --ui-subtle-text: var(--color-warning-300);
        --ui-subtle-border: --alpha(var(--color-warning-900) / 60%);
    }
}

@utility ui-subtle-danger {
    --ui-subtle-bg: --alpha(var(--color-danger-100) / 40%);
    --ui-subtle-text: var(--color-danger-600);
    --ui-subtle-border: var(--color-danger-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-danger-900) / 30%);
        --ui-subtle-text: var(--color-danger-300);
        --ui-subtle-border: --alpha(var(--color-danger-900) / 60%);
    }
}

@utility ui-subtle-warning {
    --ui-subtle-bg: --alpha(var(--color-warning-100) / 40%);
    --ui-subtle-text: var(--color-warning-600);
    --ui-subtle-border: var(--color-warning-300);

    &:is(.dark *) {
        --ui-subtle-bg: --alpha(var(--color-warning-900) / 30%);
        --ui-subtle-text: var(--color-warning-300);
        --ui-subtle-border: --alpha(var(--color-warning-900) / 60%);
    }
}